---
import type { Project } from '@types/project';
import Badge from '@components/Badge.astro';

interface Props extends Project {}

const { name, description, img, iconImg, link, tags } = Astro.props;
---

<section class="container">
  <div class="top-info-container">
    <!-- TODO: Add a back button to go back to projects page -->
    <img src={iconImg} alt={`${name} icon`} class="project-icon" />
    <a href={link} class="link-project">
      View project
      <svg
        width="25"
        height="25"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M22.9543 19.4187L21.1868 17.6512L22.9543 15.8837C24.102 14.7068 24.7397 13.1251 24.7294 11.4812C24.7191 9.83735 24.0616 8.26374 22.8993 7.10126C21.737 5.93877 20.1634 5.28102 18.5196 5.27049C16.8757 5.25996 15.2939 5.89749 14.1168 7.04499L12.3468 8.81249L10.5806 7.04499L12.3481 5.27749C13.9891 3.63646 16.2148 2.71454 18.5356 2.71454C20.8563 2.71454 23.082 3.63646 24.7231 5.27749C26.3641 6.91851 27.286 9.14422 27.286 11.465C27.286 13.7857 26.3641 16.0115 24.7231 17.6525L22.9543 19.4187ZM19.4193 22.955L17.6518 24.7225C16.8393 25.535 15.8746 26.1796 14.813 26.6193C13.7513 27.0591 12.6134 27.2854 11.4643 27.2854C10.3152 27.2854 9.17732 27.0591 8.11566 26.6193C7.05401 26.1796 6.08937 25.535 5.27681 24.7225C4.46426 23.9099 3.81971 22.9453 3.37996 21.8836C2.9402 20.822 2.71387 19.6841 2.71387 18.535C2.71387 17.3859 2.9402 16.248 3.37996 15.1863C3.81971 14.1247 4.46426 13.16 5.27681 12.3475L7.04431 10.58L8.81306 12.3475L7.04431 14.1162C5.89682 15.2934 5.25928 16.8752 5.26982 18.519C5.28035 20.1629 5.9381 21.7364 7.10058 22.8987C8.26307 24.061 9.83668 24.7186 11.4805 24.7289C13.1244 24.7392 14.7061 24.1014 15.8831 22.9537L17.6518 21.1875L19.4193 22.955ZM18.5356 9.69624L20.3031 11.4637L11.4643 20.3037L9.69681 18.535L18.5343 9.69748L18.5356 9.69624Z"
          fill="white"></path>
      </svg>
    </a>
  </div>
  <div class="main-info-container">
    <h1>{name}</h1>
    <p class="description">{description}</p>
    <div class="tags-container">
      {tags.map((tag) => <Badge title={tag} />)}
    </div>
  </div>

  <img src={img} alt={`${name} illustration`} />
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 840px;
  }

  .top-info-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-block-end: 40px;
  }

  .project-icon {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    border: 8px solid var(--primary---green--6--alpha);
  }

  .link-project {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .main-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-end: 4rem;
  }

  .tags-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
</style>
