---
import { Image } from 'astro:assets';

import type { Project } from '@ts/project';
import Badge from '@components/Badge.astro';
import BackButton from '@components/icons/arrow-left.astro';
import Link from '@components/icons/link.astro';

interface Props extends Project {}

const { name, description, img, iconImg, link, categories } = Astro.props;
---

<section class="container">
  <div class="top-info-container">
    <BackButton class="back-button" id="project-back-button" />

    <Image
      src={iconImg}
      alt={`${name} icon`}
      class="project-icon"
      width={85}
      height={85}
    />
    <a href={link} class="link-project" target="_blank" rel="noopener">
      View project
      <Link class="link-icon" />
    </a>
  </div>
  <div class="main-info-container">
    <h1>{name}</h1>
    <p class="description">{description}</p>
    <div class="tags-container">
      {categories.map((tag) => <Badge title={tag} />)}
    </div>
  </div>

  <Image src={img} alt={`${name} illustration`} width={840} height={475} />
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 840px;
  }

  .top-info-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-block-end: 40px;
  }

  .back-button {
    cursor: pointer;
  }

  .project-icon {
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    border: 8px solid var(--primary---green--6--alpha);
  }

  .link-project {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    .link-icon {
      width: 25px;
      height: 25px;
    }
  }

  .main-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-end: 4rem;
  }

  .tags-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
</style>

<script is:inline>
  document
    .getElementById('project-back-button')
    .addEventListener('click', () => {
      window.history.back();
    });
</script>
