---
import ArrowUpRight from './icons/arrow-up-right.astro';

import Badge from './Badge.astro';

interface Props {
  title: string;
  date: Date;
  description: string;
  topics: string[];
  slug: string;
}

const { title, date, description, topics, slug } = Astro.props;
---

<article class="post">
  <h2>{title}</h2>
  <p class="date" id={`#${title}`}></p>

  <p class="description">
    {description}
  </p>

  <div class="badges-container">
    {topics.map((topic) => <Badge title={topic} />)}
  </div>

  <!-- TODO: Refactor this button variant -->
  <a href={`/blog/${slug}`}>
    <button class="read-button"
      >Read more
      <ArrowUpRight class="read-arrow" />
    </button>
  </a>
</article>

<style>
  .post {
    display: flex;
    flex-direction: column;

    .date {
      color: var(--neutrals---black--7);
      margin-block-start: 4px;
    }

    .description {
      font-weight: 500;
      margin-block: 12px;
    }

    .badges-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.8rem;
    }

    .badge {
      background-color: var(--primary---green--6--alpha);
      border-radius: 20px;
      padding-block: 8px;
      padding-inline: 12px;
    }

    .read-button {
      color: var(--neutrals---black--1);
      cursor: pointer;
      font-weight: 700;
      background-color: transparent;
      border: none;
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;
      max-width: 160px;
      margin-block-start: 24px;

      .read-arrow {
        rotate: 225deg;
        transition: transform 0.2s ease;
      }

      &:hover .read-arrow {
        transform: translateY(4px);
      }
    }
  }
</style>

<script define:vars={{ date, title }}>
  const pubDate = new Date(date);
  const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;

  const formattedDate = pubDate.toLocaleDateString(undefined, {
    day: 'numeric',
    month: 'numeric',
    year: 'numeric',
    timeZone: tz,
  });

  const dateElement = document.getElementById(`#${title}`);

  dateElement.textContent = `${formattedDate}`;
</script>
