---
import { getCollection } from 'astro:content';

import Newsletter from '@components/Newsletter.astro';
import PreviewPost from '@components/PreviewPost.astro';

const allPosts = await getCollection('posts');
const sortedDatePosts = allPosts?.sort(
  (a, b) => Number(new Date(b.data.pubDate)) - Number(new Date(a.data.pubDate))
);
---

<section class="content">
  <div class="posts-container">
    <h2 class="subtitle-section" id="latest-posts">Latest posts</h2>

    {
      sortedDatePosts ? (
        sortedDatePosts.map(({ data, slug }, i) => {
          if (i < 5) {
            return (
              <PreviewPost
                title={data.title}
                description={data.description}
                date={data.pubDate}
                topics={data.categories}
                slug={slug}
              />
            );
          }
        })
      ) : (
        <h3 class="no-posts">No posts yet...</h3>
      )
    }
  </div>

  <aside class="newsletter-aside">
    <Newsletter />
  </aside>
</section>

<style>
  .content {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    position: relative;

    @media screen and (min-width: 68.75rem) {
      flex-direction: row;
      gap: 3rem;
    }
  }

  .posts-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .subtitle-section {
      color: var(--primary---green--6);
    }

    .no-posts {
      font-size: clamp(1.5rem, 2vw, 2rem);
    }

    @media screen and (min-width: 68.75rem) {
      flex-shrink: 999;
      width: 50vw;
      max-width: 720px;
    }
  }

  .newsletter-aside {
    height: fit-content;
    margin-block-start: 7.5rem;

    @media screen and (min-width: 68.75rem) {
      position: sticky;
      top: 15%;
    }
  }
</style>
