---
import '@styles/reset.css';
import '@styles/vars.css';
import '@styles/globals.css';
import '@styles/animations.css';

import { ViewTransitions } from 'astro:transitions';

import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';

interface Props {
  title: string;
  description: string;
  image: string;
  url: string;
  noIndex?: boolean;
}

const { title, description, image, url, noIndex } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/Satoshi-Regular.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/Satoshi-Medium.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/Satoshi-Bold.woff2"
      crossorigin
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {`${title} - Santiago Carrasco (Santychuy)`}
    </title>
    {noIndex && <meta name="robots" content="noindex" />}
    <ViewTransitions />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />
    <meta property="og:site_name" content="Santiago Carrasco Blog" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@santychuy" />
    <meta name="twitter:creator" content="@santychuy" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      defer
      data-domain="santychuy.com"
      data-api="https://numbers.santychuy.com/santychuy/event"
      src="https://numbers.santychuy.com/santychuy/script.tagged-events.outbound-links.js"
    ></script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <style>
      main {
        width: 100%;
        padding-block-end: 80px;
      }
    </style>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </body>
</html>
